(
    upgrades: {
        Fire: [[(upgrade: {Range: 50, Damage: 1}, cost: 50), (upgrade: {Damage: 3, AttackSpeed: 10}, cost: 200), (upgrade: {AttackSpeed: 10, Damage: 10}, cost: 300)]],
        Dark: [[(upgrade: {Damage: 1, Range: 50}, cost: 50), (upgrade: {Damage: 3, AttackSpeed: 10}, cost: 200), (upgrade: {Damage: 10, AttackSpeed: 10}, cost: 300)]],
        Mage: [[(upgrade: {Range: 50, Damage: 1}, cost: 50), (upgrade: {Damage: 3, AttackSpeed: 10}, cost: 200), (upgrade: {AttackSpeed: 10, Damage: 10}, cost: 300)]],
        Ice: [[(upgrade: {Damage: 1, Range: 50}, cost: 50), (upgrade: {AttackSpeed: 10, Damage: 3}, cost: 200), (upgrade: {Damage: 10, AttackSpeed: 10}, cost: 300)]],
        Archmage: [[(upgrade: {Damage: 1, Range: 50}, cost: 50), (upgrade: {AttackSpeed: 10, Damage: 3}, cost: 200), (upgrade: {Damage: 10, AttackSpeed: 10}, cost: 300)]],
        Nature: [[(upgrade: {Damage: 1, Range: 50}, cost: 50), (upgrade: {Damage: 3, AttackSpeed: 10}, cost: 200), (upgrade: {Damage: 10, AttackSpeed: 10}, cost: 300)]],
    },
)